.title {
  font-size: 50px;
  text-align: center;
  color: #96a5d6;
  margin: 0;
  padding: 10px;
  span {
    color: #ec6295;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}
