.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      width: 100%;
      padding: 0 10px;
      iframe {
        width: 100% !important;
        height: 350px;
      }
    }
  }
}
